{% extends "layout.html" %}

{% block title %}welcome{% endblock %}

{% block content %}


<div class="px-8 mx-auto container my-64 font-bold">
    <div class="flex">
        <p class="text-4xl">
            Save time and money on your grocery shopping with 🥦
        </p>
        <div class="hidden md:block w-[200px]"></div>
    </div>
    <button type="button" onclick="location.href='/login'"
        tabindex="1"
        class="mt-4 text-white bg-fern-700 hover:bg-fern-800 focus:ring-4 focus:outline-none focus:ring-fern-300 font-medium rounded-lg text-md px-5 py-2.5 text-center inline-flex items-center ">
        Let's go!
        <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
    </button>
</div>


<div class="bg-fern-900 text-gray-200">
        <div class="container px-8 py-16 mx-auto">

        <p class="text-xl">
            We understand the challenges of finding the best prices for your favorite products, which is why we've
            created a powerful platform that helps you compare prices across multiple grocery stores with just a few
            clicks.
        </p>
        </div>
</div>



<div class="bg-fern-800 text-gray-200">
    <div class="container px-8 pt-8 pb-24 mx-auto">
        <p class="text-2xl font-bold py-8 text-center mb-4">
            Why choose 🥦?
        </p>

        <ol class="list-decimal text-lg list-inside">

            <li class="mb-4">
                <span class="font-bold">
                    Unleash the Power of Price Comparison:
                </span>
                Say goodbye to hours spent hopping between different grocery
                websites or driving from store to store. 🥦 brings together a comprehensive database of prices
                from major retailers in your area, allowing you to instantly compare prices for the products you need.
                No more guesswork, no more overpaying!
            </li>

            <li class="mb-4">
                <span class="font-bold">
                    Personalized Shopping Experience:
                </span>
                We understand that everyone's grocery needs are unique. 🥦
                allows you to personalize your shopping experience by creating shopping lists, setting preferences, and
                receiving tailored recommendations. Whether you're a health-conscious consumer or a budget-conscious
                shopper, 🥦 has got you covered.
            </li>


            <li>
                <span class="font-bold">
                    Real-Time Updates:
                </span>
                We continuously update our database to provide you with the most accurate and
                up-to-date prices available. Our commitment to real-time information ensures that you get the best deals
                no matter when you shop. 🥦 keeps you in the know, every step of the way.
            </li>
        </ol>

        <div class="text-lg mt-8">

            <p>

                Discover the joy of stress-free grocery shopping with 🥦! Join our rapidly growing community of smart
                shoppers and start saving time and money today. Remember, at 🥦, your satisfaction is our top priority.
                We're here to revolutionize your grocery
                shopping experience one price comparison at a time.
            </p>
        </div>

    </div>
</div>

{% endblock %}