<!DOCTYPE html>
<html lang="en" class="bg-fern-100 text-fern-800" style="font-family: 'Inter', sans-serif; overflow: overlay">

<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/scrollbar.css">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'fern': {
                            '50': '#f0f9f2',
                            '100': '#d9f2dd',
                            '200': '#b7e3c1',
                            '300': '#87ce9b',
                            '400': '#64b97e',
                            '500': '#339654',
                            '600': '#237842',
                            '700': '#1c6037',
                            '800': '#184d2d',
                            '900': '#153f26',
                            '950': '#0b2315',
                        },

                    }
                }
            }
        }
    </script>
    {% block head_script %}{% endblock %}

</head>

<body>
    <div class="bg-fern-200">
        <div class="text-fern-700 text-4xl container mx-auto px-8  py-4 flex gap-6">
            <a class="focus:ring-4 focus:outline-none focus:ring-fern-400 rounded-lg" href="/">
                🥦
            </a>

            {% if logged_in %}
            <div class="grow"></div>
            <div class="grid place-items-center hover:cursor-pointer" onclick="location.href='/profile';">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                </svg>
            </div>

            <div class="grid place-items-center hover:cursor-pointer" onclick="location.href='/cart';">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg>
            </div>
            {% endif %}
        </div>
    </div>

    {% block content %}{% endblock %}
</body>

</html>