{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="mx-auto max-w-[400px] mt-32 p-8 bg-white rounded-3xl">
    <p class="text-2xl font-bold mb-4">Login</p>

    <form>
        <div>
        <label class="mb-2 block" for="username">Username</label>
        <input tabindex="1" class="focus:ring-4 focus:ring-fern-300 w-full rounded-lg" type="text" name="username">
        </div>

        <div class="my-4">
        <label class="mb-2 block" for="password">Password</label>
        <input tabindex="2" class="focus:ring-4 focus:ring-fern-300 w-full rounded-lg" type="password" name="password">
        </div>
        <input tabindex="3" type="button" class="mt-1 focus:outline-none text-white bg-fern-700 hover:bg-fern-800 focus:ring-4 focus:ring-fern-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" value="Login">
    </form>

    <div class="mt-2">
    <a tabindex="4" class="focus:ring-offset-2 focus:ring focus:ring-fern-500 rounded-sm focus:outline-none  underline text-fern-700" href="/register">New? Register for an account!</a>
    </div>
</div>


{% endblock %}