{% macro catalog_category(category_name, category_slug) -%}
    <div>
        <div class="flex mb-2">
            <p class="text-xl font-bold">{{category_name}}</p>
            <div class="grow"></div>
            <a tabindex="-1" class="underline" href="/catalog/{{category_slug}}">View all</a>
        </div>
        <div class="overflow-x-scroll max-w-full mb-4 flex gap-8">
            {{catalog_item()}}
            {{catalog_item()}}
            {{catalog_item()}}
            {{catalog_item()}}
            {{catalog_item()}}
            {{catalog_item()}}
            <button 
            onclick="location.href='/catalog/{{category_slug}}'"
            tabindex="-1"
            class="shrink-0 w-[200px] h-[250px] bg-fern-200 rounded-lg flex flex-col">
                <div class="grow"></div>
                <div class="w-full">
                    <p class="text-center">
                        View all
                    </p>
                </div>
                <div class="grow"></div>
            </button>
        </div>
    </div>
{%- endmacro %}


{% macro catalog_item() -%}
    <div class="shrink-0 w-[200px] h-[250px] bg-fern-200 rounded-lg"></div>
{%- endmacro %}


{% macro store(retailer, address, address_2, id) -%}

    <div class="w-full p-4 gap-2" id={{id}}>

        <div>
            <div class="text-lg font-bold items-center flex gap-2">
                <p>
                    {{retailer}}
                </p>


            <input class="w-4 h-4 bg-gray-100 border-gray-300 rounded focus:ring-fern-500 focus:ring-2 text-fern-600" enabled type="checkbox" name={{id}} >

            </div>
            
            <div>
            {{address}}
            {{address_2}}

            </div>
        </div>

    </div>
{%- endmacro %}