{% macro catalog_category(category_name, category_slug, suggestions) -%}
    <div>
        <div class="flex mb-2">
            <p class="text-xl font-bold">{{category_name}}</p>
            <div class="grow"></div>
            <a tabindex="-1" class="underline" href="/catalog/{{category_slug}}">View all</a>
        </div>
        <div class="overflow-x-scroll max-w-full mb-4 flex gap-8">
            {% for suggestion in suggestions %}
            {{catalog_item(suggestion[0], suggestion[3], suggestion[1], suggestion[6], suggestion[7])}}
            {% endfor %}
            <button 
            onclick="location.href='/catalog/{{category_slug}}'"
            tabindex="-1"
            class="shrink-0 w-[200px] h-[310px] bg-fern-200 rounded-lg flex flex-col">
                <div class="grow"></div>
                <div class="w-full">
                    <p class="text-center">
                        View all
                    </p>
                </div>
                <div class="grow"></div>
            </button>
        </div>
    </div>
{%- endmacro %}


{% macro catalog_item(id, image, name, price, retailer) -%}
    <div id={{id}} class="p-4 shrink-0 w-[200px] h-[310px]  max-w-[200px] max-h-[310px] bg-fern-200 rounded-lg flex flex-col gap-2 ">

        
        <div class="shrink h-[168px] w-[168px] max-h-[168px] max-w-[168px]">
        {% if retailer == "Key Food" %}
            <img class="mx-auto rounded-md  h-[168px] w-[168px] max-h-[168px] max-w-[168px]" src="https://keyfoodstores.keyfood.com/{{image}}">
        {% elif retailer == "Wholefoods" %}
            <img class="mx-auto rounded-md   h-[168px] w-[168px] max-h-[168px] max-w-[168px]" src="{{image}}">
        {% elif retailer == "Trader Joe's" %}
            <img class="mx-auto rounded-md    h-[168px] w-[168px] max-h-[168px] max-w-[168px]" src="{{image}}">
        {% endif %}
        </div>

        <div class="">
            <p class="text-lg font-medium truncate">
            {{name}}
            </p>
        </div>
        <div>
            {{price}}
        </div>
        <div>
            <form action="/api/user/cart/add" method="post">
            <div class="text-sm flex justify-between">
                <input class="w-[120px] py-1 rounded-md" type="number" value="1">
                <button type="submit" class="rounded-full h-[36px] w-[36px] bg-fern-700 text-gray-50">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-auto">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
    </svg>


                </button>
            </div>
            </form>
        </div>



    </div>
{%- endmacro %}


{% macro store(retailer, address, address_2, id, saved) -%}

    <div class="w-full p-4 gap-2" id={{id}}>

        <div>
            <div class="text-lg font-bold items-center flex gap-2">
                <p>
                    {{retailer}}
                </p>


            {%if saved %}
            
            <input checked class="w-4 h-4 bg-gray-100 border-gray-300 rounded focus:ring-fern-500 focus:ring-2 text-fern-600" type="checkbox" name={{id}} >
            {%else%}

            <input class="w-4 h-4 bg-gray-100 border-gray-300 rounded focus:ring-fern-500 focus:ring-2 text-fern-600" type="checkbox" name={{id}} >


            {%endif%}

            </div>
            
            <div>
            {{address}}
            {{address_2}}

            </div>
        </div>

    </div>
{%- endmacro %}