{% import 'macros.html' as macros %}
{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="">
    <div class="container px-8 mt-16 mx-auto">
        <div>
            <label class="font-bold text-2xl">Search</label>
            <form action="/catalog/search" method="get">

                <div class="flex mt-2">
                    <input tabindex="1" placeholder="🍍, 🥕, 🥦, and more"
                        class="focus:ring-4 focus:ring-fern-300 w-full rounded-lg" type="text" name="query">
                    <input tabindex="2" type="button"
                        class="focus:outline-none text-white bg-fern-700 hover:bg-fern-800 focus:ring-4 focus:ring-fern-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-2"
                        value="Find the best deal!">
                </div>
            </form>
        </div>

        <div class="mt-8 mb-20">
            <div>
                <p class="font-bold text-2xl mb-4">Results</p>
            </div>


            <div class="grid justify-between gap-x-8 gap-y-10" style="grid-template-columns: repeat(auto-fill, 200px);">
                {% for product in products %} 
                    {{macros.catalog_item(product[0], product[3], product[1], product[6], product[7], product[2])}}
                {%endfor%}
            </div>

        </div>
    </div>





</div>


{% endblock %}